@font-face {
    font-family: apple;
    src: url(/sf-pro-text_regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html, body{
    width: 100%;
    height: 100%;
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding: 14px;
}

.nav h4{
    font-size: 12px;
    font-weight: 400;
}

.hero1{
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.apple.com/in/home/heroes/diwali-2025/images/hero_diwali_2025_endframe__kjxalx8t7ia2_medium.jpg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.hero1 h2{
    position: absolute;
    top: 56%;
    text-align: center;
    font-size: 48px;
    line-height: 1.0838;
    font-weight: 600;
}

.hero1 p{
    position: absolute;
    top: 68%;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
}

.hero1 button{
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    right: 47%;
    top: 80%;
    color: royalblue;
    background: transparent;
    border-color: royalblue;
}

.hero1 button:hover{
    color: white;
    background: royalblue;
}
